<br/>
<%= link_to 'Add Comment', new_post_comment_path(@post) %>
<br/>
<br/>
<strong>Post Comments:</strong>

<% @comments.each do |comment| %>
  <p>
    <%= comment.body %>
    <% "&nbsp;" %>
  </p>

<% end %>

